

 <%= form_with(model: @story) do |f| %>
        <div class="border-end border-secondary mx-2" style="width:40rem">
            <%= f.file_field :image, id: "story-image", required: true %>
          </div>
 <% end %>
