 <div class="">
          <%= simple_form_for @story do |f| %>
              <%= f.input :image, as: :file, id:"story-image" %>
              <%= f.submit "Send", class: "btn-flat mb-3" %>
          <% end %>
        </div>



