html {
  height: 100vh;
}

body {
  height: 100%;
}

.home-sections {
  width: 80%;
  height: 100%;
  margin: 0 auto; /* Center the content */
}


.images-section, .login-section  {
  height: 75%;
  width: 55%;
  background-position-x: right;
}

.images-section {
  background-image: url(home-phone-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text{
  padding: 0 .5rem; /* creates the space */
  font-size: small;
  margin: 0;
}

.line{
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.facebook {
  max-width: 1rem;
  height: auto;
  margin-right: .5rem;
}

.card::-webkit-scrollbar {
  width: 0;
}

.filepond--item {
  width: calc(50% - 0.5em);
}

.filepond--root {
  max-height: 20em;
}

.color-red {
  color: red;
}

.profile-post-likes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-shadow: 1px 1px 10px #000000a6;
}

.multiple-images {
  position: absolute;
  top: 15%;
  right: 7%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 10px #000000a6;
}

.profile-post:hover img {
  opacity: 50%;
}

.profile-post:hover .profile-post-likes {
  visibility: visible;
}

.profile-edit-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-left: solid black 3px;
  background-color: rgb(248, 248, 248);
}

.profile-edit-btn:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}

.a-decoration-none {
  text-decoration: none;
  color: black;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.faded-text {
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: #333;
}

#story-border {
  padding: 3px; border-radius: 50%; display: inline-block;
    background: orange;
    background: -webkit-linear-gradient(orange, rgb(255, 0, 0));
    background: -o-linear-gradient(orange, rgb(255, 0, 0));
    background: -moz-linear-gradient(orange, rgb(255, 0, 0));
    background: linear-gradient(orange, rgb(255, 0, 0));
}

.img-thumbnail-custom {

  background-color: var(--bs-body-bg);
  border: none;
  width: 3.5rem;
  height: 3.5rem;
}
/* CHAT STYLING */

.chat-container {
  width: 100%;
  overflow: hidden;
}

.chat-card {
  height: calc(100vh - 50px);
  width: calc(100vw - 350px);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0%;
  overflow: hidden;
}

.sidebar {
  max-width: 350px;
  overflow-y: scroll;
  position: sticky;
}

.list-group-item {
  cursor: pointer;
  border: none;
}

.chat-area {
  border: none;
}

.chat-card-header {
  background-color: #fff;
  border: none;
  margin-left: 25px;
  max-width: 330px;
}

.chat-header {
  border-bottom: 1px solid #ddd;
  margin-left: 3px;
  background-color: #fff;
}

.chat-card-body {
  padding: 20px;
  overflow-y: scroll;
}

.chat-card-footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.btn-flat {
  background-color: white;
  color: #38a1db;
  border: none;
  font-weight: bold;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item.active {
  background-color: #fff;
  border-left: 3px solid #38a1db;
}

.sender-style, .receiver-style {
  padding: 10px;
  max-width: 400px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.sender-style {
  background-color: #38a1db;
  color: white;
  text-align: right;
}

.receiver-style {
  background-color: rgb(230, 230, 230);
  text-align: left;
}

.messages {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  border-bottom: none;
}

#new_message {
  padding: 1rem;
}

.form-group {
  margin-bottom: 0;
}

.card-body::-webkit-scrollbar {
  width: 0;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar::-webkit-scrollbar-thumb {
  width: 0;
}
