html {
  height: 100vh;
}

body {
  // background-color: #fafafa;
  height: 100%;
}


.home-sections {
  height: 100%;
  width: 80%;
}

.images-section, .login-section  {
  height: 95%;
  width: 45%;
  background-position-x: right;
}

.images-section {
  background-image: url(home-phone-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text{
  padding: 0 .5rem; /* creates the space */
  font-size: small;
  margin: 0;
}

.line{
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.facebook {
  max-width: 1rem;
  height: auto;
  margin-right: .5rem
}

.card::-webkit-scrollbar{
  width: 0;
}

.filepond--item {
  width: calc(50% - 0.5em);
}

.filepond--root {
  max-height: 20em;
}

.color-red {
  color: red;
}

.profile-post-likes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-shadow: 1px 1px 10px #000000a6;
}

.multiple-images {
  position: absolute;
  top: 15%;
  right: 7%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 10px #000000a6;
}
.profile-post:hover img {
  opacity: 50%;
}

.profile-post:hover .profile-post-likes {
  visibility: visible;
}


.profile-edit-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-left: solid black 3px;
  background-color: rgb(248, 248, 248);
}


.profile-edit-btn:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}

.a-decoration-none {
  text-decoration: none;
  color: black
}

.carousel-indicators [data-bs-target]{
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.faded-text{
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: #333;
}


// CHAT STYLING
/* Style the overall container */
.chat-container {
  padding-top: 10px;

}

/* Style the conversation list sidebar */
.sidebar {
  max-width: 350px;/* Adjust the width as needed */
  overflow-y: scroll;
 
}



/* Style the conversation list items */
.list-group-item {
  cursor: pointer;
  border: none;

}

/* Style the chat area */
.chat-area {
  border: none;

}

/* Style the chat header */
.card-header {
  background-color: #fff; /* Adjust the background color */
  border: none;
}

/* Style the chat messages */
.card-body {
  padding: 20px;
  height: calc(100vh - 250px);
  overflow-y: scroll;
}

/* Style the message input field and send button */
.card-footer {
  background-color: #fff; /* Adjust the background color */
  border-top: 1px solid #ddd; /* Add a border at the top of the footer */
  padding: 10px;
}

.input-group {
  margin-bottom: 10px;
}

/* Customize the send button */
.btn-flat {
  background-color: white; /* Adjust the button color */
  color: #38a1db;; /* Adjust the button text color */
  border: none;
  font-weight: bold;
}

/* Hover effect for conversation list items */
.list-group-item:hover {
  background-color: #f0f0f0; /* Adjust the hover background color */
}

/* Active conversation item */
.list-group-item.active {
  background-color: #fff;
  border-left: 3px solid #38a1db; /* Highlight the active conversation */
}



.sender-style, .receiver-style {
  width: 50%;
  max-width: 400px;
  border-radius: 25%;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #38a1db;
  color: white;
}

.receiver-style {
  background-color: lightgray;
}

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    border-bottom: none;

    #new_message {

      padding: 1rem;

      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .card-body::-webkit-scrollbar {
   width:0;

  }

  .sidebar::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
  }

  .sidebar::-webkit-scrollbar-thumb {
    width: 0;

  }
